users:
  - { user: "{{ user_list.vagrant }}", groups: adm }
  - { user: "{{ user_list.someuser }}", groups: adm }

sysctl_additional:
  - { name: vm.swappiness, value: 0 }

ssh_accept:
  - 10.0.2.2

mailname: example.com
