vless://{{ xray_uuid }}@{{ ansible_default_ipv4.address }}:443/?encryption=none&type=tcp&sni={{ xray_reality_dest }}&alpn=h2&fp=chrome&flow=xtls-rprx-vision&security=reality&pbk={{ xray_x25519_public }}&packetEncoding=xudp#{{ ansible_hostname }}-reality
