# {{ ansible_managed }}
# Unbound configuration file for Debian.
server:
    verbosity: 1
    statistics-interval: 0
    statistics-cumulative: no
    extended-statistics: {{ unbound_extended_statistics }}

    interface: 127.0.0.1
    interface: ::1
    port: 53
    access-control: 127.0.0.0/8 allow
    access-control: ::1 allow

    num-threads: {{ ansible_processor_vcpus }}

    outgoing-range: 4096
    num-queries-per-thread: 2048

    msg-cache-slabs: {{ ansible_processor_vcpus|ceil2(2) }}
    rrset-cache-slabs: {{ ansible_processor_vcpus|ceil2(2) }}
    infra-cache-slabs: {{ ansible_processor_vcpus|ceil2(2) }}
    key-cache-slabs: {{ ansible_processor_vcpus|ceil2(2) }}

    rrset-cache-size: 8m
    msg-cache-size: 4m

    do-ip4: yes
    do-ip6: yes
    do-udp: yes
    do-tcp: yes

    do-daemonize: yes
    username: "unbound"
    use-syslog: yes
    pidfile: "/run/unbound.pid"

    module-config: "iterator"
    #module-config: "validator iterator"
    #auto-trust-anchor-file: "/var/lib/unbound/root.key"

remote-control:
    control-enable: yes
    control-interface: 127.0.0.1
    control-interface: ::1
    control-port: 954
    server-key-file: "/etc/unbound/unbound_server.key"
    server-cert-file: "/etc/unbound/unbound_server.pem"
    control-key-file: "/etc/unbound/unbound_control.key"
    control-cert-file: "/etc/unbound/unbound_control.pem"

forward-zone:
    name: "."
{% for nameserver in nameservers %}
    forward-addr: {{ nameserver }}
{% endfor %}
