; {{ ansible_managed }}
[program:{{ sentry_server_name }}_worker]
command=/srv/www/{{ sentry_server_name }}/env/bin/sentry celery worker
    --concurrency={{ sentry_worker_concurrency }}
    --loglevel=WARNING
    --hostname=worker%(process_num)02d.{{ sentry_server_name }}
process_name=%(program_name)s_%(process_num)02d
numprocs={{ sentry_worker_processes }}
autostart=true
autorestart=true
startsecs=1
stopwaitsecs=10
killasgroup=true
user=sentry
redirect_stderr=true
stdout_logfile=/var/log/celery/{{ sentry_server_name }}_worker.log
environment=SENTRY_CONF="/srv/www/{{ sentry_server_name }}/settings/sentry.conf.py"
