; {{ ansible_managed }}
[program:{{ sentry_server_name }}_beat]
command=/srv/www/{{ sentry_server_name }}/env/bin/sentry celery beat --loglevel=WARNING
numprocs=1
autostart=true
autorestart=true
startsecs=1
stopwaitsecs=10
user=sentry
redirect_stderr=true
stdout_logfile=/var/log/celery/{{ sentry_server_name }}_beat.log
environment=SENTRY_CONF="/srv/www/{{ sentry_server_name }}/settings/sentry.conf.py"
directory=/srv/www/{{ sentry_server_name }}/run/
