; {{ ansible_managed }}
[program:{{ sentry_server_name }}_web]
command=/srv/www/{{ sentry_server_name }}/env/bin/uwsgi
    --master
    --thunder-lock
    --socket=/srv/www/{{ sentry_server_name }}/run/uwsgi.sock
    --chmod-socket=664
    --processes={{ sentry_web_processes }}
    --threads={{ sentry_web_threads }}
    --buffer-size=32768
    --post-buffering=65536
    --harakiri=120
    --module=sentry.wsgi
    --need-app
    --disable-logging
autostart=true
autorestart=true
startsecs=5
stopwaitsecs=10
stopsignal=QUIT
stopasgroup=true
killasgroup=true
user=sentry
redirect_stderr=true
stdout_logfile=/var/log/uwsgi/{{ sentry_server_name }}.log
environment=SENTRY_CONF="/srv/www/{{ sentry_server_name }}/settings/sentry.conf.py"
directory=/srv/www/{{ sentry_server_name }}/run/
