#!/usr/sbin/nft -f
# {{ ansible_managed }}

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;

    iif lo accept

    ct state vmap { established : accept, related : accept, invalid : drop }

    meta l4proto icmp accept
    meta l4proto ipv6-icmp accept

    tcp dport {{ common_ssh_port }} accept

{% if common_open_http %}
    tcp dport 80 accept
{% endif %}
{% if common_open_https %}
    tcp dport 443 accept
{% endif %}
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
  }

  chain output {
    type filter hook output priority filter; policy accept;
  }
}
