#!/usr/sbin/nft -f
# {{ ansible_managed }}

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;

    iif lo accept

    ct state vmap { established : accept, related : accept, invalid : drop }

    meta l4proto icmp accept
    meta l4proto ipv6-icmp accept

    tcp dport ssh accept
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
  }

  chain output {
    type filter hook output priority filter; policy accept;
  }
}
