# {{ ansible_managed }}
# configuration variables for gitolite

%RC = (

    # ------------------------------------------------------------------

    UMASK => 0027,
    GIT_CONFIG_KEYS => 'cgit\.owner',
    LOG_EXTRA => 1,
    ROLES => {
        READERS => 1,
        WRITERS => 1,
    },

    # ------------------------------------------------------------------

    SITE_INFO => 'Please see http://{{ cgit_server_name }} for more help',
    WRITER_CAN_UPDATE_DESC => 0,
    HOSTNAME => "{{ cgit_server_name }}",

    # ------------------------------------------------------------------

    ENABLE => [

        # COMMANDS

            'help',
            'desc',
            'info',
            'perms',
            'writable',
            'create',
            'fork',
            # 'mirror',
            # 'sskm',
            'D',

        # FEATURES

            'ssh-authkeys',
            'git-config',
            # 'daemon',
            # 'gitweb',

        # user-visible behaviour

            'no-create-on-read',
            'no-auto-create',
            # 'Alias',
            # 'Shell',
            # 'set-default-roles',

        # system admin stuff

            # 'Mirroring',
            # 'ssh-authkeys-split',
            # 'partial-copy',
            # 'upstream',
            'cgit',

        # performance, logging, monitoring...

            # 'renice 10',
            # 'CpuTime',

        # syntactic_sugar for gitolite.conf and included files

            # 'continuation-lines',
            # 'keysubdirs-as-groups',
            # 'macros',
    ],
);

# ------------------------------------------------------------------------------
# per perl rules, this should be the last line in such a file:
1;

# Local variables:
# mode: perl
# End:
# vim: set syn=perl:
