# {{ ansible_managed }}

types {
  text/cache-manifest         appcache;
  text/calendar               ics;
  text/css                    css;
  text/csv                    csv;
  text/html                   html htm shtml;
  text/javascript             js mjs;
  text/markdown               md markdown;
  text/plain                  txt;
  text/vcard                  vcard vcf;
  text/vtt                    vtt;

  image/apng                  apng;
  image/avif                  avif avifs;
  image/bmp                   bmp;
  image/gif                   gif;
  image/heic                  heic;
  image/heic-sequence         heics;
  image/heif                  heif;
  image/heif-sequence         heifs;
  image/jpeg                  jpeg jpg;
  image/jxl                   jxl;
  image/png                   png;
  image/svg+xml               svg svgz;
  image/tiff                  tif tiff;
  image/webp                  webp;
  image/x-icon                cur ico;

  audio/midi                  mid midi kar;
  audio/mp4                   aac m4a;
  audio/mpeg                  mp3;
  audio/ogg                   oga ogg opus;
  audio/x-wav                 wav;

  video/3gpp                  3gpp 3gp;
  video/mp4                   mp4;
  video/mpeg                  mpeg mpg;
  video/ogg                   ogv;
  video/quicktime             mov;
  video/webm                  webm;
  video/x-m4v                 m4v;

  font/collection             ttc;
  font/otf                    otf;
  font/ttf                    ttf;
  font/woff                   woff;
  font/woff2                  woff2;

  application/atom+xml        atom;
  application/geo+json        geojson;
  application/json            json map topojson;
  application/ld+json         jsonld;
  application/manifest+json   webmanifest;
  application/mathml+xml      mml;
  application/rdf+xml         rdf;
  application/rss+xml         rss;
  application/wasm            wasm;
  application/x-x509-ca-cert  der pem crt;
  application/xhtml+xml       xhtml;
  application/xml             xml;
  application/xslt+xml        xsl;

  application/octet-stream    bin exe dll;
  application/octet-stream    deb;
  application/octet-stream    dmg;
  application/octet-stream    iso img;
  application/octet-stream    msi msp msm;
  application/octet-stream    safariextz;

  application/gzip                                                          gz;
  application/java-archive                                                  jar war ear;
  application/msword                                                        doc;
  application/pdf                                                           pdf;
  application/postscript                                                    ps eps ai;
  application/rtf                                                           rtf;
  application/vnd.google-earth.kml+xml                                      kml;
  application/vnd.google-earth.kmz                                          kmz;
  application/vnd.ms-excel                                                  xls;
  application/vnd.ms-fontobject                                             eot;
  application/vnd.ms-powerpoint                                             ppt;
  application/vnd.oasis.opendocument.graphics                               odg;
  application/vnd.oasis.opendocument.presentation                           odp;
  application/vnd.oasis.opendocument.spreadsheet                            ods;
  application/vnd.oasis.opendocument.text                                   odt;
  application/vnd.openxmlformats-officedocument.presentationml.presentation pptx;
  application/vnd.openxmlformats-officedocument.spreadsheetml.sheet         xlsx;
  application/vnd.openxmlformats-officedocument.wordprocessingml.document   docx;
  application/vnd.rar                                                       rar;
  application/x-7z-compressed                                               7z;
  application/x-chrome-extension                                            crx;
  application/x-makeself                                                    run;
  application/x-opera-extension                                             oex;
  application/zip                                                           zip;
}
