# {{ ansible_managed }}
cache-size=100
cache-root=/var/cache/cgit
cache-dynamic-ttl=5
cache-repo-ttl=5
cache-root-ttl=5
cache-scanrc-ttl=15
cache-about-ttl=15
cache-snapshot-ttl=5

clone-url=https://{{ cgit_server_name }}/$CGIT_REPO_URL ssh://git@{{ cgit_server_name }}:$CGIT_REPO_URL
enable-index-owner=1
enable-http-clone=1
enable-index-links=1
enable-commit-graph=1
enable-log-filecount=1
enable-log-linecount=1
enable-git-config=1
repository-sort=age
branch-sort=age
max-stats=year
root-title={{ cgit_root_title }}
root-desc={{ cgit_root_desc }}
#root-readme=/var/www/htdocs/about.html
snapshots=tar.gz tar.bz2 zip

mimetype.gif=image/gif
mimetype.html=text/html
mimetype.jpg=image/jpeg
mimetype.jpeg=image/jpeg
mimetype.pdf=application/pdf
mimetype.png=image/png
mimetype.svg=image/svg+xml

#commit-filter - TODO github,redmine
auth-filter=lua:/usr/local/lib/cgit/filters/auth-pbkdf2.lua
email-filter=lua:/usr/local/lib/cgit/filters/email-gravatar.lua
source-filter=exec:/usr/local/lib/cgit/filters/syntax-highlighting.py
about-filter=exec:/usr/local/lib/cgit/filters/about-formatting.sh

readme=:README.md
readme=:readme.md
readme=:README.mkd
readme=:readme.mkd
readme=:README.rst
readme=:readme.rst
readme=:README.html
readme=:readme.html
readme=:README.htm
readme=:readme.htm
readme=:README.txt
readme=:readme.txt
readme=:README
readme=:readme

remove-suffix=1
section-from-path=1
#enable-git-config=1
scan-path=/srv/git/repositories
