# {{ ansible_managed }}
{% for user in git_users %}
{% if user.creator %}
@creators = {{ user.name }}
{% endif %}
{% endfor%}

repo CREATOR/..*
    config cgit.owner = %GL_CREATOR
    C   = @creators
    RW+ = CREATOR
    RW  = WRITERS
    R   = READERS

repo testing
    RW+ = @all
