# {{ ansible_managed }}
# /etc/aliases
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
{% for user in users %}
{% if user.user.email_alias is defined and user.user.email_alias != user.user.name %}
{{ user.user.name }}: {{ user.user.email_alias }}
{% endif %}
{% endfor %}
