# {{ ansible_managed }}
# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="pc105"
XKBLAYOUT="{{ keyboard_layouts|join(',') }}"
XKBVARIANT="{{ ',' * (keyboard_layouts|count - 1) }}"
XKBOPTIONS="grp:alt_shift_toggle"

BACKSPACE="guess"
