# {{ ansible_managed }}
# This is /etc/email-addresses. It is part of the exim package
{% if mailname %}
{% for user in users %}

{{ user.user.name }}: {{ user.user.email_alias|default(user.user.name) }}@{{ mailname }}
{{ user.user.name }}@localhost: {{ user.user.email_alias|default(user.user.name) }}@{{ mailname }}
{{ user.user.name }}@{{ ansible_hostname }}: {{ user.user.email_alias|default(user.user.name) }}@{{ mailname }}
{% if ansible_hostname != ansible_fqdn %}
{{ user.user.name }}@{{ ansible_fqdn }}: {{ user.user.email_alias|default(user.user.name) }}@{{ mailname }}
{% endif %}
{% endfor %}
{% endif %}
